#navbar {
    background-color: #2C3E50;
}

#jumbo, #about {
    background-color: #1ABC9C;
}

.debug #jumbo .col {
    background-color: red;
}

.debug main .flex-md-row .col {
    background-color: yellow;
    border: 1px solid black;
}

#footer-top {
    background-color: #3A546D;
}

#copyright {
    background-color: #2c3e50;
}
