#navbar, #copyright {
    background-color: #2C3E50;
}

#navbar * {
    color: inherit;
}

#jumbo, #about, #contact-me .btn {
    background-color: #1ABC9C;
}

header img {
    width: 30%;
}

#about .btn {
    border: 1px solid white;
    color: inherit;
}

#contact-me .btn {
    color: white;
}

input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
}

/* footer */

#footer-top {
    background-color: #3A546D;
}

footer ul li {
    list-style: none;
}

/* effetto stella */

.star_spacer {
    position: relative;
    font-size: 30px;
}

.star_spacer::after, .star_spacer::before {
    content: '';
    height: 2px;
    width: 100px;
    background-color: black;
    display: block;
}

#jumbo .star_spacer::after, #jumbo .star_spacer::before, 
#about .star_spacer::after, #about .star_spacer::before {
    background-color: white;
}

.star_spacer::after {
    position: absolute;
    right: 35%;
    bottom: 40%;
}

.star_spacer::before {
    position: absolute;
    left: 35%;
    bottom: 40%;
}